*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

main{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabecalho{

    padding: 15px 25px;
    display: flex;
    justify-content: space-between ;
    align-items: center;
    background-color: #7E3E1C;
}

.cartao{
    width: 260px;
    height: 200px;
}

.cartao-imagem{
    width: 100%;
}
.cabecalho-link{
    color: #fff;
    text-decoration: none ;
}

h1{
    color: #fff;
    font-size: 24px;
}

footer{
    background-color: #7E3E1C;
    padding: 15px 25px;
    color: #fff;
}

.cartao-interno{
    position: relative;
    transition: 0.8s;
    transform-style: preserve-3d;
}

 .carta-verso,.cartao-frente{
        position: absolute;
        border-radius: 12px;
        box-shadow: 0 6px 12px rgba(0,0,0,0.15);
        backface-visibility: hidden;
    }
    .carta-verso{
        transform: rotateY('180deg');
    }
    .cartao:hover .cartao-interno{
        transform: rotateY('180deg');
    }
    section{
        display: flex;
        gap: 16px;
    }